<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>SimpleApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.frontrow.appliance.simpleapp</string>
	<key>CFBundleName</key>
	<string>SimpleApp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>fnrw</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTSDKName</key>
	<string>iphoneos9.3</string>
	<key>FRApplianceName</key>
	<string>SimpleApp</string>
	<key>FRApplianceDataSourceType</key>
	<string>All</string>
	<key>FRAppliancePreferedOrderValue</key>
	<integer>1</integer>
	<key>FRPrimaryAppliance</key>
	<true/>
	<key>FRHideIfNoCategories</key>
	<false/>
	<key>FRRemoteAppliance</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<string>1</string>
	<key>MinimumOSVersion</key>
	<string>4.3</string>
	<key>NSPrincipalClass</key>
	<string>SimpleAppliance</string>
</dict>
</plist>
